@import '../bower_components/foundation/scss/normalize';
@import '../bower_components/foundation/scss/foundation';

.nav-button-group { @include button-group-container();
  .nav-button {
    @include button();
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
  }

  & > li {
    @include button-group-style(
      // This controls the radius of the left and right edges. Set to true or px value. Default: false
      $radius:false,
      // This makes the buttons take up even space in their container. Set to the number of buttons in the group. Default: false.
      $even: 5
    );
  }
}

.toggle-button {
  @include button($padding:rem-calc(14), $bg:#f1f1f1, $radius:false, $full-width:true);
}

.fund-label {
  @include label();
  float: right;
  &.retail {

  };

  &.retail-erf {

  };

  &.corporate {

  };

  &.industry {
    background-color: #bab40c;
  };

  &.publicsector {
    background-color: #43ac6a;
  };
};
